
@{
    ViewBag.Title = "Dashboard-Administrator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <!-- Info boxes -->
    @Html.Partial("MainBody/_InfoBox")
    <!-- /.row -->
    @*
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("MainBody/_MonthlyReport")
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-8">
                <!-- MAP & BOX PANE -->
                <!-- /.box -->
                <!-- /.row -->
                <!-- TABLE: LATEST ORDERS -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Latest Orders</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @Html.Partial("MainBody/_MonthSales", (List<DashTechCMS.Models.Admin.MonthsOrederSalesModel>)ViewBag.monthlyData)
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->

            @Html.Partial("MainBody/_OverView")
            <!-- /.col -->
        </div>
        <!-- /.row -->*@
    @Html.Partial("MainBody/_Top10Sales")
</section>