@model IEnumerable<DashTechCMS.Models.Reports.PlacementInfoModel>

@{
    ViewBag.Title = "PO Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.title</h2>

            <div class="col-lg-6">
                <form action="@Url.Action("index","Placements",new { @area = "reports"})" method="get">
                    <table class="table table-striped">
                        <tr>
                            <td colspan="3">Filter By PO Date</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="date" name="stDate" id="stDate" class="form-control" required />
                            </td>
                            <td align="right">
                                <input type="date" name="endDate" id="endDate" class="form-control" required />
                            </td>
                            <td align="right">
                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Search</button>
                            </td>
                        </tr>
                    </table>
                </form>
                <script>
                @{
                    DateTime sdt = ViewBag.sdt;
                    DateTime edt = ViewBag.edt;
                }
                $("#stDate").val("@sdt.Date.ToString("yyyy-MM-dd")");
                $("#endDate").val("@edt.Date.ToString("yyyy-MM-dd")");
                </script>
            </div>
        </div>
        <div class="col-md-12" style="overflow:scroll">

            <table class="table  compact nowrap" id="dataTablePODetails">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.POId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PODate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.JoiningDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EntryDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EnterBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MarketingTeamDetails)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalesTeamDetails)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LocationName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PODetails)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.POId)
                            </td>
                            <td>
                                @item.PODate.ToString("MM/dd/yyyy")
                            </td>
                            <td>
                                @if (item.JoiningDate != null)
                                {
                                    DateTime jdt = (DateTime)item.JoiningDate;
                                    <b>@jdt.ToString("MM/dd/yyyy")</b>
                                }
                                
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EntryDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnterBy)
                            </td>
                            <td>
                                @Html.Raw(item.MarketingTeamDetails)
                            </td>
                            <td>
                                @Html.Raw(item.SalesTeamDetails)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LocationName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PODetails)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $('#dataTablePODetails').DataTable({

            "order": [[3, "desc"]],
            "lengthMenu": [[10, 150, 250, -1], [50, 150, 250, "All"]],
            dom: 'Blfrtip',
            responsive: true,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
